extends layout

include _includes/sharedHTMLfunctions 

block content
    .row
        .col-lg-12
            h1=pageHeader.title
                small(style="font-size:24px")  &nbsp;#{pageHeader.strapline}
    hr
    .row
        .col-xs-12.col-sm-8
            .list-group
            each location in locations 
                a.list-group-item.list-group-item-action.flex-column.align-items-start(href="/location")
                    .d-flex.w-100.justify-content-between
                        h5.mb-1= location.name
                        small 
                            span.badge.badge-info #{location.distance}
                    p.rating.text-warning
                        +outputRating(location.rating)                       
                    p.mb-1 #{location.address} 
                    p
                    each facility in location.facilities                    
                        span.badge.badge-warning facility 
                        &nbsp; 
        .col-xs-12.col-sm-4
            p.lead Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.
            